.Toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #B21724;
  padding: 0 15px;
}

.Logo {
  height: 40px;
}

.NavItems {
  display: none;
}

@media (min-width: 500px) {
  .NavItems {
    display: block;
  }
}